<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-12 text-center">
              <!-- <img src="./assets/img/brand/argon-white.png" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">A beautiful Design System for Bootstrap 4 and Angular 7. It's Free and Open Source.</p> -->
              <div class="btn-wrapper mt-5">
                <a routerLink="/student" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <!-- <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span> -->
                  <span class="btn-inner--text">Cadastrar Aluno</span>
                </a>
                <a routerLink="/student/1" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <!-- <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span> -->
                  <span class="btn-inner--text">Editar Aluno 1</span>
                </a>
                <a routerLink="/homestudentdeactive/1" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <!-- <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span> -->
                  <span class="btn-inner--text">Desativar Aluno 1</span>
                </a>
                <!-- <a routerLink="/homestudentreactive/1" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">Reativar Aluno 1</span>
                </a> -->
              </div>
              <div class="mt-5">
                <a routerLink="/trainers" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
                  <!-- <span class="btn-inner--icon"><i class="fa fa-github"></i></span> -->
                  <span class="btn-inner--text">
                    <span class="text-warning">Lista de Profissionais</span>
                  </span>
                </a>
                <a routerLink="/trainer" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
                  <!-- <span class="btn-inner--icon"><i class="fa fa-github"></i></span> -->
                  <span class="btn-inner--text">
                    <span class="text-warning">Cadastrar Profissional</span>
                  </span>
                </a>
                <a routerLink="/trainer/1" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
                  <!-- <span class="btn-inner--icon"><i class="fa fa-github"></i></span> -->
                  <span class="btn-inner--text">
                    <span class="text-warning">Editar Profissional 1</span>
                  </span>
                </a>
                <a routerLink="/hometrainerdeactive/1" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
                  <!-- <span class="btn-inner--icon"><i class="fa fa-github"></i></span> -->
                  <span class="btn-inner--text">
                    <span class="text-warning">Desativar Profissional 1</span>
                  </span>
                </a>
                <!-- <a routerLink="/hometrainerreactive/1" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">
                    <span class="text-warning">Reativar Profissional 1</span>
                  </span>
                </a> -->
              </div>

              <div class="mt-5">
                <!-- <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by</small>
                <img src="./assets/img/brand/creativetim-white-slim.png" style="height: 28px;"> -->

                <!-- <app-student-search></app-student-search> -->

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <app-sections></app-sections>
</main>
